body {background-image: url("back.jpg");}

/* Ingredient Entry Page */

.logo{
  width: 600px;
  height: 150px;
  padding-top: 50px;
}

.navMenu {
  background-color: black;
  padding: 15px;
}

.navOption {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.ingredientInput {
  display: inline;
  font-family: "Julius Sans One";
  font-size: 18pt;
  padding-right: 10px;
  padding-left: 20px;

}

.ingredientBox {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #3E5655;
  outline: none;
  font-size: 15pt;
  font-family: "Coming Soon";
  margin-left: 17px;
}

.ingredienttexBox {
  width: 500px;
  height: 250px;
  border: 5px solid #3E5655;
  font-size: 15pt;
  font-family: "Coming Soon";
  margin-left: 17px;
  padding-top: 5px;

}

.inputButton {
  background-color: #3E5655;
   border: 2px solid white;
   color: white;
   font-family: "Amatica SC";
   font-size: 20pt;
   padding: 5px;
   padding-left: 40px;
   padding-right: 40px;
   text-align: center;
   text-decoration: none;
   outline: none;
}

.inputButton:hover {
    background-color: #293939;
    color: white;
    cursor: pointer;;
}




/* Results Page */

a {
  font-family: "Julius Sans One";
  font-size: 18pt;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #527372
}

.subtitle {
  font-family: "Amatica SC";
  font-size: 35pt;
}

#results {
  font-size: 40pt;
}

.resultButton {
  background-color: #3E5655;
   border: 2px solid white;
   color: white;
   font-family: "Amatica SC";
   font-size: 20pt;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   text-decoration: none;
   outline: none;
   display: inline;
   margin-left: 10px;
   margin-right: 10px;
}

.resultButton:hover {
    background-color: #293939;
    color: white;
    cursor: pointer;;
}






/* User Input Page */

#submitrecipe {
  margin-left: 15px;
}






/* Food Pages */

.foodImg {
  width: 350px;
  height: 250px;
  border: 5px solid #3E5655;
}

.foodTitle {
  font-family: "Amatica SC";
  font-size: 55pt;
}

.foodSubtitle {
  font-family: "Julius Sans One";
  font-size: 23pt;
  padding-left: 45px;
}

ul{
  column-count: 2;
}

.Ingredient {
    list-style-type: circle;
    margin-left: 45px;
    font-family: "Coming Soon";
    font-size: 14pt;
  }

.recipeStep {
  font-family: "Coming Soon";
  margin-left: 45px;
  font-size: 14pt;
  text-align: justify;
  padding-right: 55px;
}

.moreInfo {
  font-family: "Julius Sans One";
  font-size: 23pt;
}

.closing {
  font-family: "Coming Soon";
  font-size: 13pt;
}

.foodlink {
  font-family: "Coming Soon";
  font-style: oblique;
  font-size: 16pt;
  font-variant: small-caps;
}





/* Confirmation Page */

.confirmation {
  font-family: "Amatica SC";
  font-size: 40pt;
}

#confirmLink {
  font-family: "Amatica SC";
  font-size: 40pt;
  text-decoration: underline;
}



 /* Database Page */

#searchbox {
  width:750px;
  height: 100px;
  border: 5px solid #3E5655;
  font-size: 25pt;
  font-family: "Coming Soon";
  margin-left: 17px;
  padding-top: 5px;
  padding-left: 10px;
  outline: none;
}

#resultstitle {
  font-family: "Julius Sans One";
  font-size: 40pt;
  text-decoration: underline;
}

.foodTitle {
  font-family: "Amatica SC";
  font-size: 30pt;
}

.foodDes {
  font-family: "Julius Sans One";
  font-size: 14pt;
}
