<!DOCTYPE html>

<html>
  <head>
    <title> Epicure </title>
    <link rel="stylesheet" href="resources/finalapp.css">

    <style>
    @import url('https://fonts.googleapis.com/css?family=Amatica+SC');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
    @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Patrick+Hand');
    @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
    </style>
  </head>

  <body>
    <form action="/">
    <center>
      <img src="resources/EPLogo.png" class="logo">
      <br><br><br>

      <div class="navMenu">
        <a href='/' class="navOption"> Recipe Search </a>
        <a href='/recipeinput' class="navOption"> Submit a Recipe </a>
        <a href='/database' class="navOption"> User Database </a>
      </div>

      <br><br><br><br>
      <input type="text" name="search" placeholder="Search for a recipe or ingredient. . ."
      id="searchbox">
      <br><br><br><br>

      <center>
        <h1 id="resultsTitle"> Results </h1>

        {% for recipe in recipes %}
            <h2 class=foodTitle> {{ recipe.Title }}</h2>
            <h3 class=foodDes> Submitted on {{ recipe.Date }}</h3>
            <br>
        {% endfor %}
      </center>


  </body>
</html>
