<!DOCTYPE html>

<html>
  <head>
    <title> Epicure </title>
    <link rel="stylesheet" href="resources/finalapp.css">

    <style>
      @import url('https://fonts.googleapis.com/css?family=Amatica+SC');
      @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
      @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Patrick+Hand');
      @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
    </style>

  </head>

<body>

  <form action="/">
    <center>
      <img src="resources/EPLogo.png" class="logo">
      <br><b><br>


    <h2 class='confirmation'> Thank you! Your recipe for {{ Title }} has been logged.</h2>
    <h2 class='confirmation'> Search for a recipe
      <a href='/' id="confirmLink"> here! </a> </h2>



  </body>
  </html>
