<!DOCTYPE html>

<html>
  <head>
      <title> Epicure </title>
      <link rel="stylesheet" href="resources/finalapp.css">

      <style>
      @import url('https://fonts.googleapis.com/css?family=Amatica+SC');
      @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
      @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Patrick+Hand');
      @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
      </style>

  </head>

  <body>
    <center>
      <img src="resources/EPLogo.png" class="logo">
      <br> <br><br>


      <div class="navMenu">
        <a href='/' class="navOption"> Recipe Search </a>
        <a href='/recipeinput' class="navOption"> Submit a Recipe </a>
        <a href='/database' class="navOption"> User Database </a>
      </div>

    </center>

    <br><br><br>

      <form action="/confirmation" method="post">

        <p class="ingredientInput">add the title of your recipe: </p> <br><br>
        <input type='text' name='Title' class='ingredientBox'></input>
        <br><br><br><br>

        <p class="ingredientInput">add a photo: (maybe)</p> <br><br>
        <br><br><br><br>

        <p class= "ingredientInput"> add your ingredients, with measurements. use commas
                                    only to separate ingedients</p> <br><br>
        <textarea name='Ingredients' class='ingredienttexBox'>  </textarea>
        <br><br><br><br>

        <p class= "ingredientInput"> input your recipe. Do not use numbers to label your steps. </p><br><br>
        <textarea name='Recipe' class='ingredienttexBox'>  </textarea>
        <br><br><br><br>

        <input type='submit' value='Submit Recipe' class="inputButton" id='submitrecipe'>
        <br>
        <br>
      </form>
  </body>
</html>
